<div class="LoginPageContainer">
    <div class="forms-container">
        <form id="loginForm" class="forms">
        
        <h1>Logueate</h1>


            <p>Email</p>
            <input type="text" name="email">

            <p>Contraseña</p>
            <input type="password" name="password">

            <p>¿Olvido su contraseña? <a href="/restoreRequest">Restablecer</a></p>

            <input type="submit" style="display: block; margin: 10px 0px">

            <p><a href="/api/sessions/github">GitHub</a></p>

            <p>Si no estas registrado, hazlo <a href="/register">aquí</a></p>
        </form>
    </div>

</div>    

<script src="/js/registerLogin/login.js"></script>