<div>
    <h1>Logueate</h1>

    <form id="loginForm">

        <label>Email</label>
        <input type="text" name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
</div>

<p>O puedes registrarte utilizando <a href="/api/sessions/github">GitHub</a></p>
<script src="/js/login.js"></script>