<a href="/"><button class="returnHome-btn" style="color: black;">Productos</button></a>

<h1>{{user.name}}</h1>

<a href="/api/mailing/sendChangePass">Cambiar contraseña</a>


{{#if premium}}
    <a href="/realTimeProducts"><button>Vender Producto</button></a>

    <a href="/changeRole"><button>No quiero ser premium</button></a>
{{else}}
    <a href="/upgradeUser"><button>Hazte premium!</button></a>
{{/if}}
