<a href="/"><button class="returnHome-btn" style="color: black;">Productos</button></a>

<h1>{{user.name}}</h1>

<a href="/api/mailing/sendChangePass">Cambiar contraseña</a>


{{#if premium}}
    <button><a href="/realTimeProducts">Vender Producto</a></button>

    <button><a href="/changeRole">No quiero ser premium</a></button>
{{else}}
    <button><a href="/upgradeUser">Hazte premium!</a></button>
{{/if}}
