<a href="/"><button class="returnHome-btn" style="color: black;">Productos</button></a>

<h1>{{user.name}}</h1>

<a href="/api/mailing/sendChangePass"> <button class="profile-btns">Cambiar contraseña</button></a>

<div>
    {{#if admin}}
        <a href="/adminUsers"><button class="profile-btns">Usuarios</button></a>
        <a href="/realTimeProducts"><button class="profile-btns">Crear productos</button></a>
    {{else}}
        {{#if premium}}
            <a href="/api/mailing/sendChangePass"> <button class="profile-btns">Cambiar contraseña</button></a>
            <a href="/realTimeProducts"><button class="profile-btns">Vender Producto</button></a>

            <a href="/changeRole"><button class="profile-btns">No quiero ser premium</button></a>
        {{else}}
            <a href="/api/mailing/sendChangePass"> <button class="profile-btns">Cambiar contraseña</button></a>
            <a href="/upgradeUser"><button class="profile-btns">Hazte premium!</button></a>
        {{/if}}
    {{/if}}
</div>
