<div>
    <div class="forms-container">
        <form id="mailingForm" class="forms">
            <p>Email</p>
            <input type="text" name="email" id="mail">

            <input type="submit" style="display: block; margin: 10px 0px">
        </form>

    </div>
</div>

<script src="/js/restoreMail.js"></script>