<div>
    <div class="forms-container">

    <form id="restorePassForm" class="forms">

            <p>Ingrese su nueva contraseña</p>
            <input type="password" name="new-pass1" id="new-pass1" class="new-pass">

            <p>Ingrese nuevamente su nueva contraseña</p>
            <input type="password" name="new-pass2" id="new-pass2" class="new-pass">

            <p id="error-msg" style="color: red;"></p>

            <input type="submit" style="display: block; margin: 10px 0px">
        </form>
    </div>
</div>

<script src="/js/password/restorePassword.js"></script>